.discountInsideContainer {
  width: 46px;
  height: 46px;
  background-color: #FFFFAA;
  border-radius: 50px;
  color: #000;
  text-transform: lowercase;
  font-family: Sequel Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 14px;
  text-align: center;
  z-index: 1000;
  padding: 10px 0;
  left: 0;
  top: 16px;
  
  :first-child {
    display: block;
    font-size: 12px;

  }
}