.minicartIconContainer {
  display: flex;
  align-items: center;
  gap: 7px;
  
  &::before {
    content: url("data:image/svg+xml,%3Csvg width='24' height='27' viewBox='0 0 24 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_444_448)'%3E%3Cpath d='M19.997 27C19.9601 27 19.9231 27 19.8861 26.9973H3.73463C1.94287 26.9973 0.483861 25.631 0.466797 23.9528V8.15191C0.472485 7.2052 1.29442 6.43331 2.29553 6.43331H4.64758V4.41349C4.64758 1.97948 6.74366 0 9.31754 0C10.2874 0 11.2145 0.279709 12.008 0.812232C12.7731 0.336189 13.6548 0.0860643 14.5677 0.0860643H14.6815C15.8674 0.112959 16.9908 0.562108 17.8412 1.34476C18.7144 2.14354 19.2149 3.26238 19.2121 4.41349V6.436H21.6352C22.6392 6.436 23.4611 7.2052 23.4696 8.14922V23.8291C23.4554 25.5746 21.9452 26.9946 20.1023 26.9946C20.1023 26.9946 20.0312 26.9946 19.9999 26.9946L19.997 27ZM2.29553 7.54946C1.94287 7.54946 1.64993 7.8211 1.64424 8.1546V23.9501C1.65846 25.0151 2.58563 25.8839 3.71473 25.8839H17.4829C17.4004 25.7951 17.3264 25.701 17.2553 25.6041C16.8742 25.0797 16.6723 24.4692 16.6752 23.8344V7.54946H13.9875V10.8172C13.9875 11.1238 13.723 11.3739 13.3988 11.3739C13.0746 11.3739 12.8101 11.1238 12.8101 10.8172V7.54946H5.82218V10.8172C5.82218 11.1238 5.55768 11.3739 5.23346 11.3739C4.90924 11.3739 4.64474 11.1238 4.64474 10.8172V7.54946H2.29553ZM17.8554 23.8344C17.8554 24.375 18.0887 24.8995 18.4982 25.276C18.8822 25.6337 19.3884 25.8489 19.9259 25.8758H20.0767C21.2968 25.8758 22.2808 24.956 22.2922 23.8237V8.15191C22.2865 7.81841 21.9936 7.54677 21.6409 7.54677H17.8583V23.8344H17.8554ZM17.2696 6.436C17.2696 6.436 17.3008 6.436 17.3094 6.43869H18.0517V4.41618C18.0545 3.56091 17.682 2.72985 17.0307 2.13547C16.3708 1.51957 15.4977 1.1807 14.5734 1.1807C13.9847 1.1807 13.4073 1.32055 12.8954 1.58412C13.6007 2.38022 13.9875 3.37803 13.9904 4.41618V6.436H17.2724H17.2696ZM12.8101 6.436V4.41618C12.8101 3.62546 12.5114 2.86971 11.9682 2.26995C11.4022 2.85895 11.0809 3.61739 11.0638 4.42156V6.43869H12.8129L12.8101 6.436ZM9.88636 6.436V4.41618C9.91195 3.35651 10.3357 2.35332 11.0837 1.56798C10.549 1.26945 9.94324 1.11346 9.31754 1.11346C7.39211 1.11346 5.82503 2.59538 5.82503 4.41618V6.436H9.8892H9.88636Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_444_448'%3E%3Crect width='23' height='27' fill='white' transform='translate(0.466797)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }

  &::after {
    content: "Sacola";
    font-size: 12px;
    line-height: 14.16px;
    color: #010101;
  }
}

:global(.vtex-wish-list-1-x-outline) {
  background: url("data:image/svg+xml,%3Csvg width='15' height='13' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.5 12.2286C4.93565 10.5327 -0.378465 6.50823 0.900636 3.01901C1.34585 1.80306 2.42138 0.928342 3.70312 0.739C3.87681 0.713247 4.05196 0.70037 4.22741 0.70037C5.32521 0.70037 6.40016 1.20606 7.23932 2.13375C7.36966 2.27773 7.59168 2.28885 7.73579 2.15863C7.74457 2.15073 7.75277 2.14253 7.76068 2.13375C8.73341 1.05857 10.0222 0.550243 11.2969 0.739C12.5786 0.928342 13.6542 1.80306 14.0994 3.01901C15.3785 6.50823 10.0641 10.5327 7.5 12.2286ZM11.4 0.0442572C10.6399 -0.0646072 9.86459 0.0281617 9.15197 0.313785C8.53629 0.562827 7.97509 0.929512 7.5 1.39336C7.02491 0.929512 6.46371 0.562827 5.84804 0.313785C5.13541 0.0281617 4.3601 -0.0646072 3.60002 0.0442572C2.06346 0.271351 0.774103 1.3202 0.240436 2.77757C-0.413027 4.56037 0.26709 6.58432 2.26146 8.79321C3.82497 10.5245 5.86883 12.0053 7.30815 12.9429C7.42473 13.019 7.57528 13.019 7.69185 12.9429C9.13117 12.0053 11.175 10.5245 12.7385 8.79321C14.7329 6.58432 15.413 4.56037 14.7596 2.77757C14.2259 1.3202 12.9365 0.271351 11.4 0.0442572Z' fill='%235A5555'/%3E%3C/svg%3E%0A") no-repeat center;
}

:global(.vtex-wish-list-1-x-wishlistIconContainer) {
  position: absolute;
  left: 106px;
  
  :global(.vtex-button):hover {
    background: transparent;
  }
}

.cartIcon {
  display: none;
}

.openIconContainer {
  padding: 0;
}

.openIconContainer :global(.vtex-button) {
  &:hover {
    background-color: transparent;
  }
}

.minicartQuantityBadgeDefault {
  background-color: #FFFF5A;
  color: #000;
  position: absolute;
  top: 15px;
  right: 45px;
}


:global(.vtex-reviews-and-ratings-3-x-star--empty) {
  font-size: 0;
  &::before {
    content: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z' fill='%23CAC9C9'/%3E%3C/svg%3E%0A");
  }
}

:global(.vtex-reviews-and-ratings-3-x-star--fill) {
  font-size: 0;
  &::before {
    content: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z' fill='%23FFFF5A'/%3E%3C/svg%3E%0A");
  }
}

.emana-store-theme-0-x-buttonText--button-buy {

}

:global(.vtex-wish-list-1-x-fill) {
  background: url("data:image/svg+xml,%3Csvg width='24' height='21' viewBox='0 0 24 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.9547 18.84C8.02414 16.2291 -0.121111 10.0332 1.83944 4.66136C2.52184 2.78934 4.17038 1.44266 6.13497 1.15116C6.4012 1.11151 6.66967 1.09169 6.93859 1.09169C8.62124 1.09169 10.2689 1.87023 11.5551 3.29846C11.7549 3.52013 12.0952 3.53725 12.3161 3.33675C12.3295 3.32459 12.3421 3.31197 12.3542 3.29846C13.8452 1.64315 15.8206 0.860557 17.7744 1.15116C19.739 1.44266 21.3875 2.78934 22.0699 4.66136C24.0305 10.0332 15.8848 16.2291 11.9547 18.84ZM17.9324 0.0815642C16.7674 -0.0860386 15.579 0.0567843 14.4867 a0.496516C13.543 0.87993 12.6829 1.44446 11.9547 2.15858C11.2265 1.44446 10.3663 0.87993 9.42261 0.496516C8.33032 0.0567843 7.14196 -0.0860386 5.97694 0.0815642C3.62176 0.431187 1.6455 2.04594 0.827515 4.28966C-0.174087 7.03438 0.868369 10.1503 3.92525 13.5511C6.32173 16.2165 9.45449 18.4963 11.6606 19.9398C11.8393 20.0569 12.0701 20.0569 12.2487 19.9398C14.4549 18.4963 17.5876 16.2165 19.9841 13.5511C23.041 10.1503 24.0834 7.03438 23.0818 4.28966C22.2639 2.04594 20.2876 0.431187 17.9324 0.0815642Z' fill='%235A5555'/%3E%3C/svg%3E%0A") no-repeat center;
}

@media screen and (max-width: 768px) {
  .minicartQuantityBadgeDefault {
    right: -5px;
  }
}

@media screen and (max-width: 1280px) {
  .minicartIconContainer {
    display: flex;
    align-items: center;
    gap: 7px;
    
    &::before {
      content: url("data:image/svg+xml,%3Csvg width='24' height='27' viewBox='0 0 24 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_444_448)'%3E%3Cpath d='M19.997 27C19.9601 27 19.9231 27 19.8861 26.9973H3.73463C1.94287 26.9973 0.483861 25.631 0.466797 23.9528V8.15191C0.472485 7.2052 1.29442 6.43331 2.29553 6.43331H4.64758V4.41349C4.64758 1.97948 6.74366 0 9.31754 0C10.2874 0 11.2145 0.279709 12.008 0.812232C12.7731 0.336189 13.6548 0.0860643 14.5677 0.0860643H14.6815C15.8674 0.112959 16.9908 0.562108 17.8412 1.34476C18.7144 2.14354 19.2149 3.26238 19.2121 4.41349V6.436H21.6352C22.6392 6.436 23.4611 7.2052 23.4696 8.14922V23.8291C23.4554 25.5746 21.9452 26.9946 20.1023 26.9946C20.1023 26.9946 20.0312 26.9946 19.9999 26.9946L19.997 27ZM2.29553 7.54946C1.94287 7.54946 1.64993 7.8211 1.64424 8.1546V23.9501C1.65846 25.0151 2.58563 25.8839 3.71473 25.8839H17.4829C17.4004 25.7951 17.3264 25.701 17.2553 25.6041C16.8742 25.0797 16.6723 24.4692 16.6752 23.8344V7.54946H13.9875V10.8172C13.9875 11.1238 13.723 11.3739 13.3988 11.3739C13.0746 11.3739 12.8101 11.1238 12.8101 10.8172V7.54946H5.82218V10.8172C5.82218 11.1238 5.55768 11.3739 5.23346 11.3739C4.90924 11.3739 4.64474 11.1238 4.64474 10.8172V7.54946H2.29553ZM17.8554 23.8344C17.8554 24.375 18.0887 24.8995 18.4982 25.276C18.8822 25.6337 19.3884 25.8489 19.9259 25.8758H20.0767C21.2968 25.8758 22.2808 24.956 22.2922 23.8237V8.15191C22.2865 7.81841 21.9936 7.54677 21.6409 7.54677H17.8583V23.8344H17.8554ZM17.2696 6.436C17.2696 6.436 17.3008 6.436 17.3094 6.43869H18.0517V4.41618C18.0545 3.56091 17.682 2.72985 17.0307 2.13547C16.3708 1.51957 15.4977 1.1807 14.5734 1.1807C13.9847 1.1807 13.4073 1.32055 12.8954 1.58412C13.6007 2.38022 13.9875 3.37803 13.9904 4.41618V6.436H17.2724H17.2696ZM12.8101 6.436V4.41618C12.8101 3.62546 12.5114 2.86971 11.9682 2.26995C11.4022 2.85895 11.0809 3.61739 11.0638 4.42156V6.43869H12.8129L12.8101 6.436ZM9.88636 6.436V4.41618C9.91195 3.35651 10.3357 2.35332 11.0837 1.56798C10.549 1.26945 9.94324 1.11346 9.31754 1.11346C7.39211 1.11346 5.82503 2.59538 5.82503 4.41618V6.436H9.8892H9.88636Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_444_448'%3E%3Crect width='23' height='27' fill='white' transform='translate(0.466797)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    &::after {
      content: "";
    } 
  }
}

@media screen and (max-width: 1280px) {
  
}

@media screen and (max-width: 1366px) {

}

@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1600px) {

}