.flexRow--movimento-bem-estar {
  margin-top: 70px
}

.flexRow--container-seu-objetivo {
  max-width: 90rem;
}

.flexRow--apaixonados-por-emana-container {
  margin-bottom: 30px;
}

.flexRow--nossos-selos-de-qualidade {
  margin-bottom: 40px;
}

.flexRow--newsletter {
  background-color: #FFFFAA;
  padding: 60px 100px;
}

.flexRowContent--container-seu-objetivo {
  display: flex;
  flex-wrap: wrap;
  gap: 50px; 
  justify-content: center;

  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 45% !important; 
  }
}

.flexColChild--content-seu-objetivo4, 
.flexColChild--content-seu-objetivo3, 
.flexColChild--content-seu-objetivo2, 
.flexColChild--content-seu-objetivo1 {
  position: relative;
  display: flex;
}

.flexCol--content-seu-objetivo :global(.vtex-store-link-0-x-link--seu-objetivo) {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.32px;
  position: absolute;
  right: 0;
  width: 223px;
  height: 47px;
  border-radius: 90px;
  border: 1.5px solid #010101;
  place-content: center;
  text-align: center;
  font-style: italic;
  text-decoration: none;
  color: #000;
}


.flexCol--content-seu-objetivo1 :global(.vtex-store-link-0-x-link--seu-objetivo),
.flexCol--content-seu-objetivo3 :global(.vtex-store-link-0-x-link--seu-objetivo) {
  left: 0;
}


.flexCol--content-seu-objetivo1 :global(.vtex-store-link-0-x-link--seu-objetivo){
  bottom: 160px;
}
.flexCol--content-seu-objetivo3 :global(.vtex-store-link-0-x-link--seu-objetivo){
  bottom: 80px;
}

.flexCol--content-seu-objetivo2 :global(.vtex-store-link-0-x-link--seu-objetivo){
  bottom: 132px;
}
.flexCol--content-seu-objetivo4 :global(.vtex-store-link-0-x-link--seu-objetivo){
  bottom: 102px;
}


.flexCol--content-seu-objetivo1,
.flexCol--content-seu-objetivo3 {
  position: relative;
  
  :nth-of-type(2n) {
    display: none;
  }
  
  &:hover {
    height: fit-content;
  
    :nth-of-type(2n) {
      position: absolute;
      display: block;
      right: 0;
      top: -13px;
      
      &::before {
        content: "";
        border: 0;
      }
    }
  }
}


.flexCol--content-seu-objetivo2,
.flexCol--content-seu-objetivo4 {
  position: relative;

  :nth-of-type(2n) {
    display: none;
  }
  
  &:hover {
    height: fit-content;

    :nth-of-type(2n) {
      position: absolute;
      display: block;
      top: -15px;

      &::after {
        content: "";
        border: 0;
      }
    }
  }
}

.flexColChild--content-seu-objetivo1 {
  display: flex;
  justify-content: flex-end;
}

.flexColChild--content-seu-objetivo2 {
  display: flex;
  justify-content: flex-start;
}

.flexColChild--content-seu-objetivo3 {
  display: flex;
  justify-content: flex-end;
}

.flexColChild--content-seu-objetivo4 {
  display: flex;
  justify-content: flex-start;
}

.flexRowContent--container-qual-seu-objetivo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("data:image/svg+xml,%3Csvg width='354' height='351' viewBox='0 0 354 351' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M163.984 213.202V343.341C163.984 347.634 160.255 350.067 157.213 350.067C156.901 350.067 148.662 348.951 148.662 348.951C145.339 348.486 142.827 345.619 142.827 342.288V230.512C142.827 228.063 139.94 226.793 138.146 228.575L121.154 245.419C120.764 245.807 120.546 246.318 120.546 246.86V332.447C120.546 336.662 116.083 340.614 111.246 338.692L104.007 335.81C101.214 334.694 99.3882 332.014 99.3882 329.038V270.601C99.3882 269.47 97.9527 268.509 96.8761 269.563L64.4063 301.811C61.551 304.647 56.8857 304.647 54.0148 301.811L48.9282 296.775C46.0261 293.908 46.6346 289.522 48.9282 287.26L80.6178 255.802C81.788 254.64 80.649 253.307 79.5724 253.307H21.9819C19.033 253.307 16.3648 251.556 15.2102 248.86L12.0584 241.483C10.4045 237.594 13.057 232.123 18.2996 232.123H103.461C104.007 232.123 104.522 231.906 104.896 231.534L122.683 213.9C124.525 212.071 123.12 209.251 120.749 209.251H8.43855C4.80306 209.251 1.71368 206.616 1.16757 203.036L0.0753648 195.8C-0.330312 193.119 0.917925 190.376 3.43 188.935C4.53781 188.299 5.81725 188.067 7.09669 188.067H163.345L164 213.187L163.984 213.202Z' fill='%23E1DCD2' fill-opacity='0.3'/%3E%3Cpath d='M192 213.358V341.295C192 350.635 201.897 352.257 211.562 347.392C225.426 340.391 237.809 322.085 240.881 317.501C241.02 317.298 241.252 317.205 241.483 317.267C251.056 319.871 279.711 324.845 303.859 300.458C326.771 277.319 323.436 250.484 320.765 239.585C320.549 238.712 320.935 237.823 321.691 237.355C334.274 229.543 345.792 216.742 350.331 208.368C351.721 205.796 352.817 203.036 353.666 199.948C355.287 194.054 350.794 188.067 344.711 188.067H192.015V213.342L192 213.358ZM216.224 316.254C215.113 317.626 212.936 316.831 212.936 315.069V235.905C212.936 233.504 216.348 231.851 217.969 234.455C226.97 248.909 231.448 263.005 231.371 276.555C231.262 295.235 221.505 309.736 216.224 316.254ZM289.037 285.521C275.713 298.977 260.983 299.601 250.963 297.761C250.33 297.652 249.574 296.997 249.836 295.983C253.989 279.58 252.862 262.475 246.47 245.151C245.884 243.577 247.551 242.937 248.369 243.249C265.8 249.954 282.969 251.201 299.366 246.976C299.736 246.882 300.138 246.945 300.477 247.163C300.817 247.381 301.033 247.724 301.11 248.114C302.793 257.906 302.068 272.361 289.037 285.505V285.521ZM320.78 211.721C315.268 216.773 306.144 223.431 294.039 226.534C276.562 231.009 257.633 226.846 237.778 214.185C235.2 212.532 236.728 209.117 239.183 209.117C263.809 209.148 295.969 209.179 319.792 209.21C321.413 209.21 321.49 211.066 320.765 211.721H320.78Z' fill='%23E1DCD2' fill-opacity='0.3'/%3E%3Cpath d='M192 162.051H344.694C350.429 162.051 355.356 156.338 353.662 150.376C351.828 143.932 348.735 138.125 344.197 132.629C338.027 125.13 330.925 119.152 321.879 113.842C321.817 113.811 320.17 113.035 320.185 111.622C320.248 103.113 319.051 80.3049 306.4 52.5126L305.266 50.1682C304.877 49.3763 304.209 48.7397 303.385 48.3981L300.961 47.3889C281.845 39.9207 262.651 35.6354 243.908 34.6573C243.333 34.6262 242.867 34.3623 242.618 33.9431C228.398 8.7903 208.707 1.80343 203.672 0.452629C195.295 -1.81423 192 6.52345 192 9.50452V162.067V162.051ZM247.125 106.079C253.264 89.9778 254.818 74.0478 251.726 58.7387C251.632 58.2885 251.757 57.8227 252.067 57.4811C252.347 57.1706 252.736 56.9998 253.155 56.9998C253.202 56.9998 268.883 57.6829 288.263 64.9959C288.807 65.1977 289.258 65.6324 289.491 66.1603C294.573 77.8828 297.495 90.071 298.179 102.368C298.21 102.818 298.023 103.237 297.681 103.532C297.34 103.827 296.889 103.936 296.438 103.843C281.083 100.598 265.122 101.995 249.021 107.988C247.778 108.454 246.69 107.197 247.125 106.079ZM218.156 116.73C216.509 119.323 213.105 117.786 213.105 115.301C213.136 90.5368 213.183 58.2108 213.198 34.2536C213.198 32.4525 215.141 32.6544 215.701 33.2754C230.9 50.0595 232.143 68.2719 232.19 73.5975C232.314 87.3073 227.621 101.747 218.141 116.73H218.156ZM321.242 141.727H239.79C237.288 141.727 235.702 138.327 238.344 136.666C252.627 127.691 266.568 123.189 279.964 123.189C285.217 123.189 305.763 124.136 321.957 139.957C322.703 140.703 322.081 141.743 321.227 141.743L321.242 141.727Z' fill='%23E1DCD2' fill-opacity='0.3'/%3E%3Cpath d='M163.969 140.034V9.43657C163.969 5.38691 159.905 -1.65733 152.074 0.452836C148.695 1.36828 130.93 6.72128 115.408 31.6399C115.33 31.764 114.723 33.0053 114.333 33.75C114.224 33.9518 114.022 34.0604 113.804 34.0448C101.924 33.2846 78.8971 34.3086 52.3667 48.4436L50.7163 49.4056C50.1402 49.747 49.6732 50.228 49.3462 50.8176L48.4276 52.5088C36.299 75.4879 34.6174 96.481 35.3959 110.166C35.4426 110.942 35.0534 111.656 34.3995 112.059C24.9332 117.614 7.47981 130.259 1.40771 150.213C-0.647469 156.962 5.48691 162.067 10.4224 162.067H164M77.4336 59.8168C86.0435 56.6981 94.8714 55.0689 103.668 55.0069C104.104 55.0069 104.509 55.1931 104.789 55.5344C105.069 55.8758 105.163 56.3102 105.069 56.7447C105.069 56.7447 100.866 70.8642 102.687 84.0062C102.874 85.3405 101.286 86.5818 100.04 85.3405L76.8575 62.2373C75.7521 61.1357 76.8419 60.0185 77.4024 59.8168H77.4336ZM59.5131 77.7067C59.8245 76.7292 61.1167 76.2637 61.9575 77.1016L85.0938 100.313C86.2615 101.477 85.0315 102.905 83.926 102.796C83.926 102.796 74.5532 101.787 67.6715 101.787C64.1528 101.787 60.8209 102.036 57.8939 102.687C57.4579 102.78 57.022 102.687 56.6794 102.393C56.3369 102.113 56.1501 101.694 56.1501 101.26C56.259 96.3258 56.4615 87.1404 59.5131 77.7067ZM116.373 140.888C91.5396 140.857 59.1083 140.826 35.0845 140.795C33.4497 140.795 33.3719 138.948 34.1037 138.296C48.6144 125.217 64.7289 121.819 75.067 121.819C88.6592 121.819 102.968 126.504 117.79 135.845C120.639 137.629 118.63 140.888 116.373 140.888ZM142.841 114.247C142.841 116.745 139.431 118.327 137.765 115.69C128.937 101.71 124.422 88.0558 124.251 74.9138C123.955 52.1675 139.649 34.0759 140.257 33.3777C141.206 32.2915 142.841 33.0363 142.841 34.3241V114.247Z' fill='%23E1DCD2' fill-opacity='0.3'/%3E%3C/svg%3E%0A") no-repeat center;
  min-height: 40vh;
}

@media (max-width: 960px) {
  .flexRowContent--container-qual-seu-objetivo {
    gap: 32px;
  }
}

@media screen and (max-width: 768px) {


  .flexRow--newsletter {
    background-color: #FFFFAA;
    width: -webkit-fill-available;
    padding: 0;
    margin: 0 auto;
  }

  .flexRowContent--newsletter {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 1280px) {
  
}

@media screen and (max-width: 1366px) {

}

@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1600px) {

}