/* Remove a opção de retirar na entrega por css */
.srp-toggle__wrapper {
    width: 200px !important;

    .srp-toggle__pickup {
        display: none;
    }
}
.srp-toggle__current {
    width: 100% !important;
}
.srp-toggle__delivery {
    width: 100% !important;
}
.shipping-method-wrapper {
    .shipping-method-toggle {
        width: 100% !important;
    }
    
    #shipping-option-pickup-in-point {
        display: none;
    }
}

/* Adiciona '*' nos campos obrigatórios */
.box-client-info-pf p.required label {
    &::after {
        content: " *";
    }
}