.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.details[open] .summary::after {
  content: url("data:image/svg+xml,%3Csvg width='19' height='12' viewBox='0 0 19 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.7886 10.1538L9.29025 2.1556C9.21124 2.07131 9.07745 2.07131 8.99844 2.1556L1.50011 10.1538' stroke='black' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}

.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  cursor: pointer;
}

.summary::before {
  content: '';
  width: 0;
} 

.answer {
  display: block;
  padding: 0 1rem;
  font-size: 16px;
  line-height: 1.6rem;
  color: #000;
}

.summary::after {
  content: url("data:image/svg+xml,%3Csvg width='19' height='12' viewBox='0 0 19 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L9.49832 9.99821C9.57734 10.0825 9.71112 10.0825 9.79014 9.99821L17.2885 2' stroke='black' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  font-size: 18px;
  margin-left: 10px;
}

a {
  color: #000;
  text-decoration: none;
}